/* src/App.css */
.search-results-page {
 
  text-align: center;

}
/* .app-container {
  max-width: 800px;
  margin: 0 auto;
} */

.search-container {
  margin-bottom: 20px;
  
}

.results-container {
  background-color: #ECECEC;
  
  padding-left: 150px;
  padding-right: 150px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 8px;
}

.result-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-details-container {
  margin-top: 20px;
 
}

.post-details-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 150px;
  border-radius: 8px;
}

.post-details-container {
  max-width: 800px;
  margin: 0 auto;
  
}


/* SearchResultsPage.css */






input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.results-container {
  text-align: center;
}

.result-card {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.result-card:hover {
  background-color: #EEF5FF;
}

/* Add any additional styling as needed */


.post-details-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-details-card p {
  margin: 0 0 10px;
}

.post-details-card h3 {
  margin-top: 20px;
}

.post-details-card ul {
  list-style: disc;
  padding: 20px;
}

.post-details-card li {
  margin-bottom: 10px;
}

