.post-details-container {
    margin-top: 20px;
  
  }
  
  .post-details-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
  }
  
  .post-details-container {
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  .post-details-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-details-card p {
    margin: 0 0 10px;
  }
  
  .post-details-card h3 {
    margin-top: 20px;
  }
  
  .post-details-card ul {
    list-style: disc;
    /* padding: 20px; */
  }
  
  .post-details-card li {
    margin-bottom: 10px;
  }
  
  